body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template: 1fr 3.5fr / 1fr 4.5fr;
}

.header {
    background-color: #ffffff;
    grid-area: 1 / 2 / 2 / 3;
}

.sidebar {
    background-color: #658cee;
    grid-area: 1 / 1 / 3 / 2;
}

.main-content {
    background-color: #d8d8d8;
    grid-area: 2 / 2 / 3 / 3;
}