body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template: 1fr 6fr / 1fr 3.5fr;
}

.header {
    background-color: #ffffff;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.search {
    /* display: flex; */
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search-bar,
form.bar {
    display: flex;
    flex: 1;
}

form.bar {
    padding: 10px;
    gap: 8px;
}

.bar > input {
    border: none;
    background-color: #e2e2e2;
    border-radius: 20px;
    font-size: 20px;
    flex: 1;
}

/* .profile-btns {
    display: flex;
} */

.profile-btns > ul {
    display: flex;
}

.profile-btns li {
    text-decoration: none;
}

.sidebar {
    background-color: #668df1;
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: flex-start;
    padding: 20px;
}

.dash-title > div {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
}

.pages > div {
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
}

.user-support > div {
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
}

.main-content {
    background-color: #e0e0e0;
    grid-area: 2 / 2 / 3 / 3;
}